<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.org.rbge.hyam.audiowand" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AudioWand</name>
    <description>
       A
    </description>
    <author email="r.hyam@rbge.org.uk" href="http://www.rbge.org.uk">
        Roger Hyam, Royal Botanic Garden Edinburgh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" /> <!-- set true for ios and false for android -->
    
    <!-- Status bar plugin parameters -->
    <preference name="StatusBarOverlaysWebview" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <platform name="android">
    </platform>
    <platform name="ios">
    </platform>

    <access origin="*" />
    <access origin="mailto://*" launch-external="true" />
    <access origin="geo://*" launch-external="true" />
    
</widget>
