<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.org.rbge.hyam.audiowand" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AudioWand</name>
    <description>
       A
    </description>
    <author email="r.hyam@rbge.org.uk" href="http://www.rbge.org.uk">
        Roger Hyam, Royal Botanic Garden Edinburgh
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
  <!--
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="3000" />
    -->
</widget>
