
.full-width-slider input{
    display: none;
}

.full-width-slider .ui-slider-track{
    margin-left: 15px;
}

#index-page-footer{
    text-align: center;
}

ul#audiowand-poi-list li.stop-state a{
    color:red;
}

ul#audiowand-poi-list li.stop-state a:after {
  background-color: red;
}

#map-page div[data-role="content"]{
    padding: 0px;
}

#map-window{
    width:auto;
    overflow:auto;
    padding: 0px;
    margin: 0px;
    
}

#map-canvas{
    position:relative;
    z-index: 0;
}

#map-canvas #map-image{
    z-index: 1;
}

#map-canvas div.map-marker
{
    position: absolute;
    z-index: 3;
    color: white;
    background-color:red;
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-left: -25px;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000000;
}
#map-canvas div.map-marker:after {
  background-color: red;
}



#map-page div.ui-slider-track{
    height: 22px;
}
#map-page div.ui-slider-track div.slider-label{
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    float: left;
    width: 100%;
    height: 22px;
}

#map-page div.ui-slider-track div.slider-label div.slider-label-plus{
    float: right;
    padding-right: 0.5em;
    font-weight: bold;
}
#map-page div.ui-slider-track div.slider-label div.slider-label-minus{
    float: left;
    padding-left: 0.5em;
    font-weight: bold;
}

#navigation-location{
    position: absolute;
    color: blue;
    background-color: blue;
    
    height: 1px;
    width: 1px;
    margin-left: -2%;
    margin-top: -2%;
    border-radius: 100%; 
    font-size: 0px;
    padding: 2%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid blue;
    text-shadow: none;
   /* box-shadow: 5px 5px 5px #000000; */
    background-color: green;
}



#audiowand-play-through-earpiece div{
    text-align: center;
}

#audiowand-switch-to-earpiece div.ui-content,
#audiowand-switch-to-speaker div.ui-content{
    text-align: center;
}

#audiowand-play-through-earpiece div a{
   color: red;
}

#audiowand-play-through-earpiece div a:after{
    background-color: red;
}



/* tweak the theme */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
  background-color: #6a734e;
}
