
.full-width-slider input{
    display: none;
}

.full-width-slider .ui-slider-track{
    margin-left: 15px;
}

#index-page-footer{
    text-align: center;
}

ul#audiowand-poi-list li.stop-state a{
    color:red;
}

ul#audiowand-poi-list li.stop-state a:after {
  background-color: red;
}

#map-page div[data-role="content"]{
    padding: 0px;
}

#map-window{
    width:auto;
    overflow:auto;
    
    padding: 0px;
    margin: 0px;
    
}

#map-canvas{
    position:relative;
}

#map-canvas div.map-marker{
    position: absolute;
    color: white;
    background-color:red;
    font-size: 20px;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border: 1px solid black;
    border-radius: 25px;
}
#map-canvas div.map-marker:after {
  background-color: red;
}

#audiowand-play-through-earpiece div{
    text-align: center;
}

#audiowand-switch-to-earpiece div.ui-content,
#audiowand-switch-to-speaker div.ui-content{
    text-align: center;
}

#audiowand-play-through-earpiece div a{
   color: red;
}

#audiowand-play-through-earpiece div a:after{
    background-color: red;
}

/* tweak the theme */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after{
  background-color: #6a734e;
}
